subscription_id = "00000000-0000-0000-0000-000000000000"

project_name = "devops-webapp"
environment  = "production"
location     = "francecentral"

vnet_address_space        = "10.1.0.0/16"
subnet_address_prefix     = "10.1.1.0/24"
ssh_source_address_prefix = "YOUR_PUBLIC_IP/32"

vm_size        = "Standard_D2s_v3"
admin_username = "azureuser"
ssh_public_key = "ssh-rsa-or-ed25519-public-key-here"

storage_account_name = "uniqueprodstorage01"